---
layout: default
---
<header>
  <h1 class="header-title">
    <a href="{{ site.url }}">{{ site.name }} -  {{ page.title }}</a>
  </h1>
</header>
<div class="post">
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
   <span class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </span>
  <br>  
  <br>

  {{ content }}


  <!-- Share -->
  {% if page.share != false %}
  <div class="post-share">
    <hr>
    {% include share.html %}
    <hr>
  </div>
  {% endif %}

  <!-- Disqus -->
  {% if page.comments != false and site.disqus.id %}
  <section id="disqus_thread"></section>
  {% include disqus.html %}
  {% endif %}

</div>
